* {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  margin: 20px 0;
  color:#919496;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: .08em;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: white;
}


li {
  list-style: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  background: rgb(41,65,171);
}



::-webkit-scrollbar-thumb {
  
  background: rgb(30,215,96);

}